header{
    background-image: url("./img/imagem2.jpg");
    background-size: cover;
}

.cabecalho{
    height: 250px;
    padding: 0 20px;
}
.cabecalho img{
    width: 100%;
    max-width: 200px;
}
.cabecalho h4{
    font-size: 50px;
    /* min-width: 300px; */
}


nav ul li{
    font-size: 18px;
}

.noticias a, .galeria a{
    color: #000;
    text-decoration: none;
}

.conteudo{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #eee; 
}
.linha{
    width: 70%;
    height: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 4px;
}
section{
    padding: 0 15px;
}
.titulo{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    /* text-align: center; */
}
.botao{
    padding-top: 20px;
    text-align: center;
}
.objetivo p{
    text-indent: 50px;
    font-size: 18px;
}

.mapa{
    margin: 30px;
    /* margin-bottom: 50px; */
    /* width: 100%; */
}
.mapa iframe{
    width: 100%;
    min-width: 250px;
    height: 320px;
}

.endereco{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.endereco div{
    width: 200px;
}
.endereco div p{
    margin: 0;
}

footer{
    background-color: #eee;
    border-top: 1px solid #000;
    padding: 0 15px 0 15px;
}
.intitucional{
    min-width: 220px;
    padding-top: 30px;
}
.intitucional img{
    width: 150px;
}
.intitucional p, .intitucional a{
    font-size: 20px;
    color: #eee;
    margin: 0;
    padding: 10px 0;
}
.intitucional a img{
    width: 40px;
}
.linha-footer{
    margin: auto;
    width: 95%;
    height: 2px;
    background-color: #ccc;
    margin-top: 20px;
}
.autor{
    text-align: center;
    font-size: 16px;
} 
footer a{
    color: #eee;
    text-decoration: none;
}
footer a:hover{
    color: #bbb;
}

@media only screen and (max-width: 767px) {
    .cabecalho{
        height: 200px;
        padding: 0 20px;
    }
    .cabecalho img{
        width: 100%;
        max-width: 100px;
    }
    .cabecalho h4{
        font-size: 25px;
        /* min-width: 300px; */
    }

}