.corpo .titulo{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 05px;
}
.corpo p{
    text-indent: 50px;
}
.imagemCorpo{
    padding: 20px 0;
    text-align: center;
}
.imagemCorpo img{
    width: 100%;
    max-width: 600px;
}
.duvidas{
    padding-bottom: 25px;
}